* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.inactive {
  display: none;
}
